{# views/Public/Navigation/nav.parent.menu.html.twig #}




    </li>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {{ include("Public/Navigation/Links/CustomisedNav/nav.authenticated.profil.html.twig") }}

    {% else %}

        <li>
            <button id="subscribe" class="btn btn-default navbar-btn">
                {#            <span class="glyphicon glyphicon-user"></span>#}
                S'inscrire
            </button>
        </li>

        <li>
            <a href="{{ path('login') }}" id="authenticationLink" class="btn btn-default navbar-btn">
                {#            <span class="glyphicon glyphicon-log-in"></span>#}
                Se connecter
            </a>

            {#<button id="connection" class="btn btn-default navbar-btn"  >
                           <span class="glyphicon glyphicon-log-in"></span>
                Se connecter
            </button>#}
        </li>
    {% endif %}
    <li>

        <a href="{{ path('home') }}">Accueil <i class="fa fa-chevron-down"></i></a>

    </li>

    <li>
        <a href="#">Services <i class="fa fa-chevron-down"></i></a>

        {{ render(controller("AppBundle:PublicController/CategServices/CategService:getNavServicesElements")) }}

    </li>

    <li class="has-mega-menu ">

        <a href="#">Prestataires <i class="fa fa-chevron-down"></i></a>

        <ul class="mega-menu">

            <li>

                {% if is_granted('ROLE_INTERNAUTE') %}<a href="#">Prestataires Favoris</a>{% else %}<a href="#">Derniers
                    inscrits</a>{% endif %}
                {{ render(controller("AppBundle:PublicController/Prestataires/Prestataire:getChildNavPrestatairesElements")) }}

            </li>

            <li>

                <a href="#">Dernières promotions</a>
                {{ render(controller("AppBundle:PublicController/Promotions/Promotion:getNavPromotionsElements")) }}

            </li>

            <li>

                <a href="#">Stage</a>
                {{ render(controller("AppBundle:PublicController/Stages/Stage:getNavStagesElements")) }}

            </li>

            <li class="hidden-xs">
                <div class="special" id="sub">
                    <a  href="">Sign Up Now</a>
                </div><!-- /.special-->
            </li>
        </ul>
    </li>

    <li>
        <a href="{{ path('contact') }}">Contact<i class="fa fa-chevron-down"></i></a>
    </li>

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a id="prestataire-profil" href="{{ path('signupPrestataire') }}"><i style='transform:scale(2)'
                                                                                 class="fa fa-cubes"></i><span>Créer un profil prestataire</span></a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('logout') }}" id="authenticationLink" class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-log-out"></span>
                Déconnexion
            </a>
        </li>
    {% endif %}
<li>
    <form style="margin-bottom:10px" action="{{path('simple_search_prestataire')}}" method="POST" >
        <div class="input-group" style="margin: 10px 0 0 10px ">
            <input style="height:35px;border-radius:0;border-color:white;border-width: 1px" type="text" id="moteur_de_recherche_nom" name="moteur_de_recherche[nom]" class="form-control" placeholder="Recherche...">
            <div class="input-group-btn">
                <button style="margin:0;padding-right:3px;border-radius:0" class="btn btn-default navbar-btn">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <a style="margin: 0 0 0 10px;color:gray;font-size:10px" href="{{ path('form_advanced_search') }}" style="display:block;font-size:10px;margin:0" > Recherche avancée</a>
    </form>