{# base.menu.html.twig #}


{#<div id="myNavbar" >#}
<ul id="myNavbar" class="gp_menu header-nav-primary nav nav-pills collapse navbar-collapse" >
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        
        {{ include("Public/Navigation/nav.child.authenticated.profil.html.twig") }}

    {% else %}

        <li>
            <button id="subscribe" class="btn btn-default navbar-btn"  >
                {#            <span class="glyphicon glyphicon-user"></span>#}
                S'inscrire
            </button>
        </li>

        <li>
            <a href="{{path('login')}}" id="authenticationLink" class="btn btn-default navbar-btn"  >
                {#            <span class="glyphicon glyphicon-log-in"></span>#}
                Se connecter
            </a>

            {#<button id="connection" class="btn btn-default navbar-btn"  >
                           <span class="glyphicon glyphicon-log-in"></span>
                Se connecter
            </button>#}
        </li>
    {% endif %}
    <li >

        <a href="{{path('home')}}">Accueil <i class="fa fa-chevron-down"></i></a>

    </li>

    <li >       
        <a href="#">Services <i class="fa fa-chevron-down"></i></a>

        <ul class="sub-menu">
            <li>
                <a href="{{path('liste_services')}}"><i class="fa fa-chevron-down"></i>Consulter la liste</a>
            </li>
            <li>
                <ul>
                    {% for service in services %}
                        <li><a href="{{path('details_service',{'service_id':service.id})}}">{{ service.nom }}</a></li>
                        {% endfor %}
                </ul>
            </li>
        </ul>       
    </li>

    <li class="has-mega-menu ">

        <a href="#">Prestataires <i class="fa fa-chevron-down"></i></a>

        <ul class="mega-menu">

            <li>
                <a href="#">Prestataires Favoris</a>

                <ul>
                    {% for prestataire in prestataires %}
                        <li>
                            <a href="">{{prestataire.nom}}</a>
                        </li>    
                    {%endfor%}
                </ul>                
            </li>

            <li>
                <a href="#">Promotions</a>

                <ul>
                    {% for promotion in promotions %}
                        <li>
                            <a href="">{{promotion.nom}}</a><span> jusqu'au {{ promotion.dateFin|date("d/m","Europe/Paris") }}</span>
                        </li>
                    {%endfor%}
                </ul>
            </li>

            <li>
                <a href="#">Stage</a>

                <ul>
                    {% for stage in stages %}
                        <li>
                            <a href="">{{ stage.nom }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>

            <li class="hidden-xs">
                <div class="special">
                    <a href="">Sign Up Now</a>
                </div><!-- /.special-->
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Contact <i class="fa fa-chevron-down"></i></a>
    </li>
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <a id="prestataire-profil" href="{{ path('signupPrestataire') }}"><i style='transform:scale(2)' class="fa fa-cubes"></i><span>Créer un profil prestataire</span></a>
        </li>
    {%else%}
        <li >
            <a href="{{path('logout')}}" id="authenticationLink" class="btn btn-default navbar-btn"  >
                <span class="glyphicon glyphicon-log-out"></span>
                Déconnexion
            </a>
        </li>
    {%endif%}
</ul> 

<div id="modale">
    <section id="popup">     
        {{ include("Public/form.pre.subscribe.html.twig") }}
    </section>
</div>