{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Mise à jour du stage {{ stage.nom }}</h2>
    {{ form(form) }}
    {% for type, message in app.session.flashbag.all() %}
        {% if type == 'notice' %}
            {{ message[0] }}
        {% endif %}
    {% endfor %}
{% endblock %}