{# base.header.html.twig #}

<header class="header header-transparent ">

    <div class="header-wrapper" style="width:100%;">
        <div id="flash_msg">
            {% for flash_message in app.session.flashBag.get('msg') %}
                <div class="{{ flash_message.class }}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    {{ flash_message.text }}
                </div>
            {% endfor %}
        </div>
        <div class="container">

            <div class="header-inner">

                <div class="header-logo">

                    <a href="">
                        <img src="{{ asset('image/gp_mini_logo.png') }}" alt="Logo">
                        <span>Galet</span>
                    </a>

                </div><!-- /.header-logo -->

                <div class="header-content">

                    <div class="header-bottom">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <ul id="myNavbar" class="gp_menu header-nav-primary nav nav-pills collapse navbar-collapse">
                            {{ include("Public/Navigation/nav.parent.menu.html.twig") }}
                        </ul>

                        <div id="modale">
                            <section id="popup">

                                {{ render(controller("AppBundle:PublicController/Internautes/Internaute:getChildNavPreSignupElements")) }}

                            </section>
                        </div>
                    </div><!-- /.header-bottom -->

                </div><!-- /.header-content-->

            </div><!-- /.header-inner-->

        </div><!-- /.container -->

    </div><!-- /.header-wrapper -->

</header><!-- /.header -->
