{# empty Twig template #}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
           <link href="{{asset('css/gp_annuaire.css')}}" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <div class="formSignUp">
       
            <h1>Inscription</h1>
            
            {{form_start(form)}}
            {{form_label(form.internaute.nom)}}
            {{form_widget(form.internaute.nom,{'attr':{'value':signup is null ?'':signup.lastname}})}}
            {{form_label(form.internaute.prenom)}}
            {{form_widget(form.internaute.prenom,{'attr':{'value':signup is null ?'':signup.firstname}})}}
            {{form_rest(form)}}
            {{form_end(form)}}
            
        </div>
        <script type="text/javascript" src="{{asset('js/jquery.js')}}" ></script>
        <script type="text/javascript" src="{{asset('js/menu.js')}}" ></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>          
    </body>
</html>