{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">


                                <div class="page-title">
                                    <h1>Inscription Prestataire</h1>
                                </div><!-- /.page-title -->

                                {{form_start(form)}}

                                <div class="form-group">
                                    {{form_label(form.nom)}}
                                    {{form_widget(form.nom)}}
                                    {{form_errors(form.nom)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.siteInternet)}}
                                    {{form_widget(form.siteInternet)}}
                                    {{form_errors(form.siteInternet)}}

                                </div>
                                <div class="form-group">
                                    {{form_label(form.telephone)}}
                                    {{form_widget(form.telephone)}}
                                    {{form_errors(form.telephone)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.tva)}}
                                    {{form_widget(form.tva)}}
                                    {{form_errors(form.tva)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.email)}}
                                    {{form_widget(form.utilisateur.email)}}
                                    {{form_errors(form.utilisateur.email)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.pwd)}}
                                    {{form_widget(form.utilisateur.pwd)}}
                                    {{form_errors(form.utilisateur.pwd)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.adresseRue)}}
                                    {{form_widget(form.utilisateur.adresseRue)}}
                                    {{form_errors(form.utilisateur.adresseRue)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.adresseNumero)}}
                                    {{form_widget(form.utilisateur.adresseNumero)}}
                                    {{form_errors(form.utilisateur.adresseNumero)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.adresseUtilisateur.codePostal)}}
                                    {{form_widget(form.utilisateur.adresseUtilisateur.codePostal)}}
                                    {{form_errors(form.utilisateur.adresseUtilisateur.codePostal)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.adresseUtilisateur.commune)}}
                                    {{form_widget(form.utilisateur.adresseUtilisateur.commune)}}
                                    {{form_errors(form.utilisateur.adresseUtilisateur.commune)}}
                                </div>
                                <div class="form-group">
                                    {{form_label(form.utilisateur.adresseUtilisateur.localite)}}
                                    {{form_widget(form.utilisateur.adresseUtilisateur.localite)}}
                                    {{form_errors(form.utilisateur.adresseUtilisateur.localite)}}
                                </div>

{#                                {{form_widget(form.envoyer,{'attr':{'class':'btn btn-primary pull-right'}})}}#}
                                {{form_rest(form)}}
                                {{form_end(form)}}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

