{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block title %}
    Service {{service.nom}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="main">

        <div class="main-inner">

            <div class="content">


                <div class="row">

                    <div class="col-md-offset-3" >
                        <h1>Service {{service.nom}}</h1>
                        <div class="media">
                            <div class="media-left">

                                <img  src="{{ asset(service.image.url )}}" alt="{{ service.image.name }}"/>

                            </div>
                            <div class="media-body">

                                <div>{{service.description}}</div>
                                {{service.image.url}}
                            </div>
                            <h2>Prestataire(s) offrant ce service</h2>
                            {%for p in service.prestataires%}
                                <ul>
                                    <li><a href="{{path('details_prestataire',{'prestataire_nom':p.nom})}}">{{p.nom}}</a>
                                </ul>
                            {%endfor%}
                            <h2>Promo</h2>
                            {%for promo in service.promotions%}
                            <ul>
                                <li>
                                   {# <a href="{{path('details_prestataire',{'prestataire_nom':p.nom})}}">#}
                                    Nom promo {{promo.nom}}<br>
                                    Publiée par {{ promo.prestataire.nom }}<br>
                                    
                                    {# </a>#}
                             </ul>
                            {%endfor%}
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
{%endblock%}