<header class="header header-minimal">
    <div class="wrapper-admin">
        <div class="container-fluid">
            <div class="header-inner">
                <div id="flash_msg">
                    {% for flash_message in app.session.flashBag.get('msg') %}
                        <div class="{{ flash_message.class }}" style="color:white !important" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            {{ flash_message.text }}
                        </div>
                    {% endfor %}
                </div>
                <div class="header-logo" style="padding:0 100px 0 20px">
                    <a href="">
                        <img src="{{ asset('image/gp_mini_logo.png') }}" alt="Logo">
                        <span>Galet</span>
                    </a>
                </div>

                <div class="header-content">
                    <div class="header-bottom">

                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">

                            {{ include("Admin/AdminNavigation/nav.admin.html.twig") }}

                        </ul>

                        <div class="header-nav-user">
                            <div class="dropdown">
                                <button style="padding-right:8px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="user-image">
                                        <img src="{{ asset('image/userUploads/admin.png') }}" alt=""/>
                                        {#<div class="notification"></div>#}
                                    </div>
                                    <span class="header-nav-user-name">{{ app.user.username }} <i class="fa fa-chevron-down"></i> </span>
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                    <li>
                                        <a href="{{ path('dashboard_accueil') }}"> Dashboard</a>

                                    <li>
                                        <a href="{{ path('logout') }}" style="color:rgb(169,39,39)">
                                            <span class="glyphicon glyphicon-log-out"></span>
                                            Déconnexion
                                        </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header-statusbar">
            <div class="header-statusbar-inner">
                <div class="header-statusbar-left">
                    <h1>Dashboard</h1>

                    <div class="display-inline-block">
                        <div class="hidden-xs visible-lg">
                            <div class="header-statusbar-search">
                                <input type="text" class="form-control" placeholder="Search for...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header-statusbar-right">
                    <div class="hidden-xs visible-lg">
                        Navigation:
                        <ul class="breadcrumb">
                            <li><a href="#">Superlist</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Statistics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>