<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Annuaire Bien-Être{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    {% block stylesheets %}

        <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/libraries/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">
        <link href="{{ asset('css/gp_annuaire_bootstrap.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/gp_annuaire.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('image/gp_logo.png') }}"/>

        <script src="https://apis.google.com/js/platform.js" async defer></script>

    {% endblock %}
</head>

<body>

<div class="page-wrapper">

    {{ include("Admin/base.admin.header.html.twig") }}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% block javascripts %}
{% endblock %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/GpAnnuaire_Ajax.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/GpAnnuaire.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/GpAnnuaire_Call_Ajax.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/gpAnnuaireController.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ asset('js/gpDiapo.js') }}"></script>
</body>
</html>
