{% extends 'Admin/base.admin.html.twig' %}
{% block body %}

    <div class="sidebar-admin">
        <ul>
            <li>
                <a href="#"><i class="fa fa-file"></i></a>
        </ul>
    </div>
    <div class="sidebar-secondary-admin">

        <ul>
            <li>
                {{ render(controller("AppBundle:AdminController/AdminAnnuaire:countAbus")) }}

            <li>
                {{ render(controller("AppBundle:AdminController/AdminAnnuaire:countBannedAccount")) }}

            <li>
                <a href="">
                    <span class="icon"><i class="fa fa-file-pdf-o"></i></span>
                    <span class="title">Newsletters</span>
                    <span class="subtitle">Editer</span>
                </a>

            <li>
                {{ render(controller("AppBundle:AdminController/AdminAnnuaire:countPrestataires")) }}

            <li>
                {{ render(controller("AppBundle:AdminController/AdminAnnuaire:countInternautes")) }}

            <li>
                <a href="admin-notifications.html">
                    <span class="icon"><i class="fa fa-envelope"></i></span>
                    <span class="title">Messages <span class="notification">{{ null }}</span></span>
                    <span class="subtitle">Consulter </span>
                </a>

            <li>
                <a href="admin-notifications.html">
                    <span class="icon"><i class="fa fa-folder-open-o"></i></span>
                    <span class="title">Services <span class="notification">{{ null }}</span></span>
                    <span class="subtitle">Nouvelles demandes </span>
                </a>

            <li>
                {{ render(controller("AppBundle:AdminController/AdminAnnuaire:countCommentaires")) }}

        </ul>
    </div>

    {% block dashboard_body %}
    {% endblock %}
{% endblock %}