{% extends 'Admin/base.admin.html.twig' %}
{% block body %}

    <div class="sidebar-admin">
        <ul>
            <li>
                <a href="{{ path('dashboard_accueil') }}"><i class="fa fa-file"></i></a>
        </ul>
    </div>
    <div class="sidebar-secondary-admin">

        <ul>
            <li>
                {{ render(controller("AppBundle:AdminController/AdminDashboard:countAbus")) }}

            <li>
                {{ render(controller("AppBundle:AdminController/AdminDashboard:countBannedAccount")) }}

            <li>{{ render(controller("AppBundle:AdminController/AdminDashboard:countNewsletterSubscriber")) }}


            <li>
                {{ render(controller("AppBundle:AdminController/AdminDashboard:countPrestataires")) }}

            <li>
                {{ render(controller("AppBundle:AdminController/AdminDashboard:countInternautes")) }}

            <li>
                <a href="{{ path('image_dashboard') }}">
                    <span class="icon"><i class="fa fa-picture-o"></i></span>
                    <span class="title">Images <span class="notification">{{ null }}</span></span>
                    <span class="subtitle">Consulter </span>
                </a>

            <li>
                {{ render(controller("AppBundle:AdminController/AdminDashboard:countServicesToBeValide")) }}

            <li>
                {{ render(controller("AppBundle:AdminController/AdminDashboard:countCommentaires")) }}

        </ul>
    </div>

    {% block dashboard_body %}
    {% endblock %}
{% endblock %}