{% extends 'Admin/dashboard.html.twig' %}
{% block dashboard_body %}
    <div class="content-admin">
        <div class="content-admin-wrapper">
            <div class="content-admin-main">
                <div class="content-admin-main-inner">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                {% set user= (type=='prestataire')?utilisateur.prestataire.nom:utilisateur.internaute.nom %}
                                <div class="page-title">
                                    <h2>Edition du {{ type }}: {{ user }} </h2>
                                </div>
                                {% if type=='prestataire' %}
                                    {{ include('Form/form.edit.prestataire.html.twig') }}
                                {% else %}
                                    {{ include('Form/form.edit.internaute.html.twig') }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ include("Admin/base.admin.footer.html.twig") }}
        </div>
    </div>
{% endblock %}


