{# empty Twig template #}

{% extends 'Public/Internautes/EditProfile/nav.edit.profile.internaute.html.twig' %}

{% block edit %}
    <div class="col-sm-8 col-lg-9">
        <div class="content">

            <div class="page-title">
                <h1>Mon compte</h1>
            </div>
            <div class="col-sm-12">
                <div class="background-white p20 mb30 col-sm-6">
                    {% for flash_message in app.session.flashBag.get('msg') %}

                        <div class="{{ flash_message.class }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          {{ flash_message.text }}
                        </div>
                    {% endfor %}
                    <h4 class="page-title ">
                        <i class="fa fa-tasks"></i> Identité
                    </h4>

                    <div>
                        {{ app.user.internaute.nom }}  {{ app.user.internaute.prenom }}
                    </div>
                </div>

                <div class="background-white p20 mb30 col-sm-6">
                    <h4 class="page-title ">
                        <i class="fa fa-envelope-o"></i> Email
                    </h4>
                    <div>
                        {{ app.user.email }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="background-white p20 mb30 col-sm-6">
                    <h4 class="page-title ">
                        <i class="fa fa-home"></i> Adresse
                    </h4>
                    <div>
                        {{ app.user.adresseNumero }}, {{ app.user.adresseRue }}
                    </div>
                    <div>
                        {{ app.user.adresseUtilisateur.codePostal }} {{ app.user.adresseUtilisateur.commune }}
                    </div>
                    <div>
                        {{ app.user.adresseUtilisateur.localite }}
                    </div>
                </div>

                <div class="background-white p20 mb30  col-sm-6">

                    <h4 class="page-title ">
                        <i class="fa fa-star"></i> Favoris
                    </h4>
                    {% if app.user.internaute.favoris is empty %}
                        Vous n'avez pas de prestataires en favoris ...
                    {% else %}
                        {% for favori in app.user.internaute.favoris %}
                            <div>{{ favori }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
