{# empty Twig template #}

{% extends 'Public/Internautes/EditProfile/nav.edit.profile.internaute.html.twig' %}

{% block edit %}
    <div class="col-sm-8 col-lg-9">
        <div class="content">
            <div class="page-title">
                <h1>Mon compte</h1>
            </div><!-- /.page-title -->

            <div class="background-white p20 mb30">
                <h3 class="page-title">
                    Mes informations              
                </h3>
            </div>
            <div class="background-white p20 mb30">
                {#                <div class="row p20 ">#}
                <h4 class="page-title ">
                    <i class="fa fa-tasks"></i> Identité              
                </h4>
                <div>
                    {{app.user.internaute.nom}}
                </div>
                <div >
                    {{app.user.internaute.prenom}}
                </div>
            </div>
            <div class="background-white p20 mb30">
                <h4 class="page-title ">
                    <i class="fa fa-envelope-o"></i> Email             
                </h4>
                <div>
                    {{app.user.email}}
                </div>
                {#  <div>
                      {{app.user.internaute.newsletter}}
                  </div>#}
            </div>
            <div class="background-white p20 mb30">
                <h4 class="page-title ">
                    <i class="fa fa-home"></i> Adresse
                </h4>
                <div>
                    {{app.user.adresseUtilisateur.codePostal}}
                </div>
                <div>
                    {{app.user.adresseUtilisateur.localite}}
                </div>
                <div>
                    {{app.user.adresseUtilisateur.commune}}
                </div>
                <div>
                    {{app.user.adresseRue}}
                </div>
                <div>
                    {{app.user.adresseNumero}}
                </div>

                {#                </div><!-- /.row -->#}

            </div><!-- /.content -->

            <div class="background-white p20 mb30">
                <h4 class="page-title ">
                    <i class="fa fa-home"></i> Favoris
                </h4>

                {%for favori in app.user.internaute.favoris%}
                    <div>{{favori}}</div>
                {%endfor%}
                
            </div>
        </div>
    </div>


{% endblock %}
