{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Prestataire  - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="main" jstcache="0">
        <div class="main-inner" jstcache="0">
            <div class="content" jstcache="0">
                <div class="mt-80 mb80">
                    {% set imgServicePrestataire=(prestataire.images is not null)?(prestataire.images)|first.url:'image/prestataire.png' %}
                    <div class="detail-banner"
                         style="background:url('{{ asset(imgServicePrestataire) }}') no-repeat;background-size:cover">
                        <div class="container">
                            <div class="detail-banner-left">

                                <h2 class="detail-title">
                                    {{ prestataire.nom }}
                                </h2>

                                <div class="detail-banner-address">
                                    <i class="fa fa-map-o"></i> {{ prestataire.utilisateur.adresseNumero }}
                                    ,{{ prestataire.utilisateur.adresseRue }}
                                    {{ prestataire.utilisateur.adresseUtilisateur.codePostal }} {{ prestataire.utilisateur.adresseUtilisateur.commune }}
                                </div>


                                {% set cote = 3.5 %}{# forfait cotation de départ#}
                                {% for commentaire in prestataire.commentaires %}{# addition des cotes#}
                                    {% set cote=cote+commentaire.cote %}
                                {% endfor %}
                                {% set moyenne=cote/((prestataire.commentaires|length)+1|round) %}


                                <div class="detail-banner-rating">

                                    {% for i in 1..moyenne|round %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% set emptyStar=(5-(moyenne|round)) %}
                                    {% for i in 1..emptyStar %}
                                        <i class="fa fa-star-o"></i>
                                    {% endfor %}

                                </div>
                                {% if is_granted('ROLE_INTERNAUTE') %}
                                    {% if prestataire in app.user.internaute.favoris %}
                                        {% set route,text='remove_favori','Se désabonner' %}
                                    {% else %}
                                        {% set route,text='add_favori','S\'abonner' %}
                                    {% endif %}
                                    <a href="{{ path(route,{'nomPrestataire':prestataire.nom}) }}">
                                        <div class="detail-banner-btn">

                                            <i class="fa fa-bookmark-o" style="color:burlywood"></i>{{ text }}

                                        </div>
                                    </a>
                                    <a href="#coter">
                                        <div class="detail-banner-btn  ">
                                            <i class="fa fa-heart" style="color:red"></i> Coter
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div style="background-color:transparent;width:300px;height:150px;"
                                 class="detail-banner-right">


                                <div class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->


                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img
                                                    src="{{ asset('image/admin.png') }}" alt="Flower">
                                            <div class="carousel-caption">
                                                <h3>Flowers</h3>
                                                <p>Beatiful flowers in Kolymbari, Crete.</p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img
                                                    src="{{ asset('image/gp_mini_logo.png') }}" alt="Flower">
                                            <div class="carousel-caption">
                                                <h3>Flowers</h3>
                                                <p>Beatiful flowers in Kolymbari, Crete.</p>
                                            </div>
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="container" jstcache="0">
                    <div class="row detail-content" jstcache="0">
                        <div class="col-sm-7" jstcache="0">
                            {# google map #}
                            <h2>Nous sommes ici</h2>
                            <div class="background-white p20">

                                <div id="carte" style="height:250px"></div>

                            </div>
                            {# end #}
                            {# prestataire video #}
                            <h2>Video</h2>
                            <div class="detail-video">
                                <iframe src="https://player.vimeo.com/video/36911719?color=009f8b&amp;byline=0&amp;portrait=0"
                                        width="653" height="366" frameborder="0" webkitallowfullscreen=""
                                        mozallowfullscreen="" allowfullscreen=""></iframe>
                            </div>
                            {# end #}
                            {# commentaires des internautes#}
                            <h2 id="reviews">Commentaires et avis</h2>
                            <div class="reviews">
                                {% if prestataire.commentaires is not empty %}
                                    {% for commentaire in prestataire.commentaires %}
                                        <div class="review">
                                            <div class="review-image">
                                                <img src="{{ asset(commentaire.internaute.image.url) }}" alt="">
                                            </div>

                                            <div class="review-inner">

                                                <div class="review-title">
                                                    <h2>{{ commentaire.internaute.nom }}</h2>

                                                    <span class="report">
                                             <span class="separator">•</span>
                                                <i class="fa fa-flag" title="" data-toggle="tooltip"
                                                   data-placement="top" data-original-title="Report"></i>
                                            </span>
                                                    {# rating prestataire#}
                                                    <div class="review-overall-rating">

                                                        <span class="overall-rating-title">Cotation:</span>
                                                        {% for i in 1..commentaire.cote %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                        {% set starFinal=(5-commentaire.cote)|round %}
                                                        {% for i in 1..starFinal %}
                                                            <i class="fa fa-star-o"></i>
                                                        {% endfor %}
                                                    </div>
                                                    {# end #}
                                                </div>

                                                <div class="review-content-wrapper">
                                                    <div class="review-content">
                                                        <div class="review-pros">
                                                            <p>{{ commentaire.titre }}</p>
                                                            <p>{{ commentaire.contenu }}</p>
                                                        </div>
                                                        {# <div class="review-cons">
                                                             <p>Duis et magna vel est tempus vehicula vitae sit amet enim. Sed
                                                                 vitae ligula congue.</p>
                                                         </div><!-- /.cons -->#}
                                                    </div>
                                                </div>
                                                <div style="text-align:right">
                                                    <a class="btn btn-link"
                                                       href="{{ path('signaler_abus',{'commentaire_id':commentaire.id,'prestataire_nom':prestataire.nom}) }}">Signaler
                                                        un abus</a>

                                                </div>

                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="background-white p20">

                                        Aucuns commentaires...

                                    </div>
                                {% endif %}
                                {# end #}
                            </div>

                        </div>

                        <div class="col-sm-5">

                            <div class="background-white p20">
                                <div class="detail-overview-hearts">
                                    <i class="fa fa-bookmark" style="color:burlywood"></i>
                                    <strong>{{ prestataire.abonnes|length }} </strong>abonné{% if  prestataire.abonnes|length>1 %}s{% endif %}
                                </div>
                                <div class="detail-overview-rating">
                                    <i class="fa fa-heart"></i>
                                    <strong>{{ (cote/ (prestataire.commentaires|length + 1))|round(1, 'common') }}
                                        / 5 </strong>from {{ prestataire.commentaires|length }}
                                    vote{% if  prestataire.commentaires|length>1 %}s{% endif %}
                                </div>

                                <div class="detail-actions row">
                                    <div class="col-sm-4">
                                        <div class="btn btn-primary btn-book"><i class="fa fa-shopping-cart"></i> Book
                                            Now
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i>
                                            Share
                                            <div class="share-wrapper">
                                                <ul class="share">
                                                    <li><i class="fa fa-facebook"></i> Facebook</li>
                                                    <li><i class="fa fa-twitter"></i> Twitter</li>
                                                    <li><i class="fa fa-google-plus"></i> Google+</li>
                                                    <li><i class="fa fa-pinterest"></i> Pinterest</li>
                                                    <li><i class="fa fa-chain"></i> Link</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i>
                                            Claim
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# section: A propos de [nom prestataire] #}
                            <h2>A propos de <span class="text-secondary">{{ prestataire.nom }}</span></h2>
                            <section class="background-white p20">
                                <div class="detail-vcard">
                                    <div class="detail-logo">
                                        <img style="width:100px" src="{{ asset(imgServicePrestataire) }}">
                                    </div>

                                    <div class="detail-contact">
                                        <div class="detail-contact-email">
                                            <i class="fa fa-envelope-o"></i> <a
                                                    href="#contact">{{ prestataire.utilisateur.email }}</a>
                                        </div>
                                        <div class="detail-contact-phone">
                                            <i class="fa fa-mobile-phone"></i> <a
                                                    href="tel:#">{{ prestataire.telephone }}</a>
                                        </div>
                                        <div class="detail-contact-website">
                                            <i class="fa fa-globe"></i> <a href="#">{{ prestataire.siteInternet }}</a>
                                        </div>
                                        <div class="detail-contact-address">
                                            <i class="fa fa-map-o"></i>
                                            {{ prestataire.utilisateur.adresseNumero }}
                                            ,{{ prestataire.utilisateur.adresseRue }}
                                            {{ prestataire.utilisateur.adresseUtilisateur.codePostal }} {{ prestataire.utilisateur.adresseUtilisateur.commune }}
                                        </div>
                                    </div>
                                </div>

                                {% for service in prestataire.categServices %}
                                    <div><span class="text-secondary">{{ service.nom }}</span></div>
                                    <div class="detail-description">
                                        <div>{{ service.description }}</div>
                                    </div>
                                {% endfor %}

                                <div class="detail-follow">
                                    <h5>Follow Us:</h5>
                                    <div class="follow-wrapper">
                                        <a class="follow-btn facebook" href="#"><i class="fa fa-facebook"></i></a>
                                        <a class="follow-btn youtube" href="#"><i class="fa fa-youtube"></i></a>
                                        <a class="follow-btn twitter" href="#"><i class="fa fa-twitter"></i></a>
                                        <a class="follow-btn tripadvisor" href="#"><i class="fa fa-tripadvisor"></i></a>
                                        <a class="follow-btn google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </section>
                            {# end #}
                            {# section: Stages proposés #}
                            <section class="widget">
                                <h2 class="widgettitle">Stages proposés</h2>

                                <div class="p20 background-white">
                                    <ul class="detail-amenities">
                                        {% if prestataire.stages is not empty %}
                                            {% for stage in prestataire.stages %}
                                                <li class="yes"> {{ stage.nom }}<br>{{ stage.description }}
                                            {% endfor %}
                                        {% else %}
                                            <li class="no">Pas de stage organisé actuellement.</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </section>
                            {# end
                            {# section: Promotions #}
                            <section class="widget">
                                <h2 class="widgettitle">Promotions</h2>

                                <div class="p20 background-white">
                                    <ul class="detail-amenities">
                                        {% if prestataire.promotions is not empty %}
                                            {% for promo in prestataire.promotions %}
                                                <div class="well">
                                                    <li class="yes"> {{ promo.nom }}
                                                        <br>{{ promo.description }}
                                                        <br>Service :
                                                        <a href="{{ path('details_service',{'service_nom':promo.categService}) }}">
                                                            {{ promo.categService }}
                                                        </a>
                                                </div>
                                            {% endfor %}

                                        {% else %}
                                            <li class="no">Pas de promotions actuellement.</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </section>
                            {# end #}
                            {# section: Services#}
                            <h2>Services</h2>

                            <section class="background-white p20">
                                <ul class="detail-amenities">
                                    {% for service in categServices %}

                                        {% set match=(service in  prestataire.categServices)?'yes':'no' %}
                                        {% if service.valide %}
                                            <li class="{{ match }}">{{ service.nom }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </section>
                            {# end #}
                            {# form contact prestataire #}
                            <h2 id="contact">Contacter {{ prestataire.nom }}</h2>

                            {{ render(controller("AppBundle:PublicController/Prestataires/Prestataire:getFormContactPrestataire")) }}
                            {# end #}
                        </div>
                        <div style="display:none">
                            <div id="nomPrestataire">{{ prestataire.nom }}</div>
                            <div id="numero">{{ prestataire.utilisateur.adresseNumero }}</div>
                            <div id="rue"> {{ prestataire.utilisateur.adresseRue }}</div>
                            <div id="cp">{{ prestataire.utilisateur.adresseUtilisateur.codePostal }}</div>
                            <div id="commune">{{ prestataire.utilisateur.adresseUtilisateur.commune }}</div>
                        </div>
                        {# form commenter prestataire#}
                        {% if is_granted('ROLE_INTERNAUTE') %}
                            <div class="col-sm-12" id="coter">
                                <h2>Soumettre un commentaire</h2>
                                {{ render(controller("AppBundle:PublicController/Commentaires/Commentaire:constructFormCommentaire")) }}
                            </div><
                        {% endif %}
                        {# end #}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="http://maps.google.com/maps/api/js?Key=AIzaSyCm9IyG4uLCEBqmBl4bCmlHhUvCUB3Xtks&amp;sensor=false;"></script>
    <script>

        window.onload = function () {
            // Une variable pour contenir notre future marker
            var myMarker = null;

            // Des coordonnées de départ
            var myLatlng = new google.maps.LatLng(50.8504500, 4.3487800);//Coord. de Bruxelles

            // Les options de notre carte
            var myOptions = {
                zoom: 15,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            // On créé la carte
            var myMap = new google.maps.Map(
                    document.getElementById('carte'),
                    myOptions
            );
            var nomPrestataire = document.getElementById('nomPrestataire').textContent;
            var numero = document.getElementById('numero').textContent;
            var rue = document.getElementById('rue').textContent;
            var cp = document.getElementById('cp').textContent;
            var commune = document.getElementById('commune').textContent;

            // L'adresse que nous allons rechercher
            var GeocoderOptions = {
                'address': numero + " , " + rue + " " + cp + " " + commune,
                'region': 'BE'
            }

            // Notre fonction qui traitera le resultat
            function GeocodingResult(results, status) {
                // Si la recher à fonctionné
                if (status == google.maps.GeocoderStatus.OK) {

                    // S'il existait déjà un marker sur la map,
                    // on l'enlève
                    if (myMarker != null) {
                        myMarker.setMap(null);
                    }

                    // On créé donc un nouveau marker sur l'adresse géocodée
                    myMarker = new google.maps.Marker({
                        position: results[0].geometry.location,
                        map: myMap,
                        title: nomPrestataire
                    });

                    // Et on centre la vue sur ce marker
                    myMap.setCenter(results[0].geometry.location);

                } // Fin si status OK

            } // Fin de la fonction

            // Nous pouvons maintenant lancer la recherche de l'adresse
            var myGeocoder = new google.maps.Geocoder();
            myGeocoder.geocode(GeocoderOptions, GeocodingResult);
        }

    </script>
{% endblock %}