{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Services - {{ parent() }}
{% endblock %}

{% block body %}
    <h2 style="margin-top:300px">Liste des services </h2>
    <form  action="javascript:void(0)">
        <select multiple="" size="10" name="s1">
           {% for service in servicesP %}
               <option value="{{ service.nom }}">{{ service.nom }}</option>
            {% endfor %}
        </select>
        <button name="gauche" id="gauche2"><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button name="droite" id="droite2"><span class="glyphicon glyphicon-chevron-right"></span></button>
        <select style="overflow:hidden" multiple size="10" name="s2">
            {% for service in servicesA %}
                <option style="border:1px dashed lightslategray" value="{{ service.nom }}">{{ service.nom }}</option>
            {% endfor %}
        </select>
    </form>
    <script>
        window.onload = function () {
            $('form').on('change', function () {

                $('form [name=droite]').on('click', function () {
                        if ($('form [name=s1] option:selected')) {
                            var item=$('form [name=s1] option:selected');
                            $('form [name=s1] option:selected').remove();
                            item.removeAttr('selected');
                            $('[name=s2]').append(item);
                        }
                });

                $('form [name=gauche]').on('click', function () {
                    if ($('form [name=s2] option:selected')) {
                        var item=$('form [name=s2] option:selected');
                        $('form [name=s2] option:selected').remove();
                        item.removeAttr('selected');
                        $('[name=s1]').append(item);
                    }
                });
            });
        }
    </script>

{% endblock %}