{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Service création - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">


                                <div class="page-title">
                                    <h1>Création d'un service</h1>
                                </div><!-- /.page-title -->

                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.nom) }}
                                    {{ form_widget(form.nom) }}
                                    {{ form_errors(form.nom) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.description) }}
                                    {{ form_widget(form.description) }}
                                    {{ form_errors(form.description) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.image.name) }}
                                    {{ form_widget(form.image.name) }}
                                    {{ form_errors(form.image.name) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.image.file) }}
                                    {{ form_widget(form.image.file) }}
                                    {{ form_errors(form.image.file) }}
                                </div>
                                {{ form_rest(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}