{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Recherche avancée - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">
                        <div class="row">
                            <div class="p20 background-black-light">
                                <h4>{{ 'Recherche avancée'|upper }}</h4>
                            </div>
                            <form class="filter" action="{{ path('advanced_search_prestataire') }}" method="POST">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                {{ form_label(form.nom) }}
                                                {{ form_widget(form.nom) }}
                                            </div>
                                            <div class="col-sm-6">
                                                {{ form_label(form.service) }}
                                                {{ form_widget(form.service) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-4">
                                                {{ form_label(form.commune) }}
                                                {{ form_widget(form.commune) }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_label(form.cp) }}
                                                {{ form_widget(form.cp) }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form_label(form.localite) }}
                                                {{ form_widget(form.localite) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row p20">
                                    <div class="col-sm-12">
                                        <button type="submit" id="moteur_de_recherche_rechercher"
                                                name="moteur_de_recherche[rechercher]" class="btn  pull-right">
                                            Rechercher
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

