{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">
                        <div class="row">

                            <section style="overflow: hidden" class="background-white p20">


                                <div class="page-title">
                                    <h1>Inscription Prestataire</h1>
                                </div>

                                {{ form_start(form) }}
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_label(form.prestataire.nom) }}
                                        {{ form_widget(form.prestataire.nom) }}
                                        {{ form_errors(form.prestataire.nom) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.prestataire.siteInternet) }}
                                        {{ form_widget(form.prestataire.siteInternet) }}
                                        {{ form_errors(form.prestataire.siteInternet) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.prestataire.telephone) }}
                                        {{ form_widget(form.prestataire.telephone) }}
                                        {{ form_errors(form.prestataire.telephone) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.prestataire.tva) }}
                                        {{ form_widget(form.prestataire.tva) }}
                                        {{ form_errors(form.prestataire.tva) }}
                                    </div>

                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>

                                <div class="col-sm-4">

                                    <div class="form-group">
                                        {{ form_label(form.adresseRue) }}
                                        {{ form_widget(form.adresseRue) }}
                                        {{ form_errors(form.adresseRue) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.adresseNumero) }}
                                        {{ form_widget(form.adresseNumero) }}
                                        {{ form_errors(form.adresseNumero) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.adresseUtilisateur.codePostal) }}
                                        {{ form_widget(form.adresseUtilisateur.codePostal) }}
                                        {{ form_errors(form.adresseUtilisateur.codePostal) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.adresseUtilisateur.commune) }}
                                        <select id="utilisateur_adresseUtilisateur_commune"
                                                name="utilisateur[adresseUtilisateur][commune]"
                                                class="form-control">
                                            {% if is_granted('ROLE_PRESTATAIRE') %}
                                                <option value="{{ app.user.adresseUtilisateur.commune }}">{{ app.user.adresseUtilisateur.commune }}</option>
                                            {% endif %}
                                        </select>
                                        {{ form_errors(form.adresseUtilisateur.commune) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.adresseUtilisateur.localite) }}
                                        {{ form_widget(form.adresseUtilisateur.localite) }}
                                        {{ form_errors(form.adresseUtilisateur.localite) }}
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        {{ form_label(form.username) }}
                                        {{ form_widget(form.username) }}
                                        {{ form_errors(form.username) }}
                                    </div>
                                    {% if not is_granted('ROLE_PRESTATAIRE') %}
                                        <div class="form-group">
                                            {{ form_label(form.password) }}
                                            {{ form_widget(form.password) }}
                                            {{ form_errors(form.password) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.confPwd) }}
                                            {{ form_widget(form.confPwd) }}
                                            {{ form_errors(form.confPwd) }}
                                            {{ form_errors(form) }}
                                        </div>
                                    {% endif %}
                                </div>
                              {#  <div class="col-sm-8">
                                    <div class="form-group">
                                        {{ form_label(form.prestataire.image.name) }}
                                        {{ form_widget(form.prestataire.image.name) }}
                                        {{ form_errors(form.prestataire.image.name) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.prestataire.image.name) }}
                                        {{ form_widget(form.prestataire.image.file) }}
                                        {{ form_errors(form.prestataire.image.file) }}
                                    </div>
                                </div>#}

                                <div class="form-group">

                                    {{ form_widget(form._token) }}

                                </div>

                                <div class="col-sm-12">
                                    <button type="submit" id="prestataire_Envoyer" name="prestataire[Envoyer]"
                                            class="btn  pull-right">Envoyer
                                    </button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

