{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">
                        <div class="row">

                            <section style="overflow: hidden" class="background-white p20">


                                <div class="page-title">
                                    {% if is_granted('ROLE_PRESTATAIRE') %}
                                        <h1>Modification de vos données</h1>
                                    {% else %}
                                        <h1>Inscription Prestataire</h1>
                                    {% endif %}
                                </div>
                                {{ include('Form/form.edit.prestataire.html.twig') }}
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/GpAnnuaire_Ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/GpAnnuaire.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/GpAnnuaire_Call_Ajax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/gpAnnuaireController.js') }}"></script>
{% endblock %}

