{# empty Twig template #}

<style>
    a {
        text-decoration: none;
    }

    p a {
        text-transform: uppercase;
        color: rgb(159, 139, 0);
        font-size: 12px;
    }

    header img {
        width: 50px;
    }

    header a {
        color: black;
        font-size: 16px;
    }
</style>
<header>
    <a href="{{ url('home') }}">
        <img src="http://img11.hostingpics.net/thumbs/mini_723863gpminilogo2.png" alt="Galet"/>
        <span>Galet s.a.</span>
    </a>
</header>
<section>
    {% if type=='signup' %}

        <p>Bonjour {{ values.firstName|capitalize }} {{ values.lastName|capitalize }}!</p>
        <a href="{{ url('signup-final',{'signup':values.id,'token':values.token}) }}">Valider mon inscription</a>

    {% elseif type=='service' %}

        <p>Une demande de création d'un service a été soumise.</p>

    {% elseif type=='admin' %}

        {{ values.message }}

    {% endif %}
</section>
<footer>

</footer>