{# Public/form.new.password #}

{% extends 'Public/Internautes/EditProfile/nav.edit.profile.internaute.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block edit %}



    <div class="col-sm-8 col-lg-9">

        <div class="content">
            <div class="row">
                <div id="connectConteneur" class="col-sm-4 col-sm-offset-4">
                    <div class="page-title">

                        <h1>
                            Changer de mot de passe
                        </h1>

                    </div>

                    <section id="body" class="{{error}}">


                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}

                    </section>

                </div>
            </div>
        </div>
    </div>



{%endblock%}