{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="main" id="homepage">

        <div class="main-inner">

            <div class="content">

                <div class="mt-80">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">

                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>

                        </ol>

                        <div class="carousel-inner" role="listbox">

                            {% set slider =['poster.jpg','poster2.jpg','poster3.jpg'] %} {# erzatz chargement DB #}
                            {% for photo in slider %}

                                {% set class=loop.first?'active':'' %}

                                <div class="item {{ class }}">
                                    <img src="{{ asset("image/"~photo) }}" alt="slider">
                                </div>
                            {% endfor %}

                        </div>

                        <div class="container" id="gp_content">
                            <div class="row">

                                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                                    <h1>Bien-Être</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Maecenas a
                                        porttitor
                                        sem. Morbi et lacinia.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="container">

                        <div class="block background-white fullwidth pt0 pb0">

                            <div class="partners">
                                {% for i in 1..5 %}
                                    <a href="#">
                                        <img src="{{ asset('image/tmp/partner-'~i~'.jpg') }}" alt="">
                                    </a>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="page-header">

                            <h1>Services</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Maecenas a porttitor sem.
                                Morbi et lacinia.
                            </p>

                        </div>

                        <div class="cards-simple-wrapper">

                            <div class="row">

                                {% for s in services %}

                                    {% set pathImg=(s.image.path matches '{^http}')?'':'image/userUploads/' %}

                                    <div class="col-sm-6 col-md-3">

                                        <div class="card-simple">

                                            <div class="card-simple-background"
                                                 style="background:url('{{ asset(pathImg~s.image) }}') no-repeat;background-size:cover">

                                                <div class="card-simple-content">
                                                    <h2>
                                                        <a href="{{ path('service_prestataires',{'service':s.nom}) }}">{{ s.description|capitalize }}</a>
                                                    </h2>

                                                    <div class="card-simple-actions">
                                                        <p>
                                                            <a class="btn btn-primary" href="{{ path('service_prestataires',{'service':s.nom}) }}">Prestataires associés</a>
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="card-simple-label">{{ s.nom|capitalize }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


